<header class="main-menu">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
        <a class="navbar-brand" href="/">{{appName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {{#if user}}
                <li class="nav-item {{#if mainMenuAudit}}active{{/if}}">
                    <a class="nav-link" href="/audits">Account Audits</a>
                </li>
                {{/if}}
            </ul>

            {{#if user}}
            <span class="navbar-text">
                {{user.username}}
            </span>
            {{/if}}
            <form class="form-inline mt-2 mt-md-0">
                {{#if user}}
                <a href="/logout" class="btn btn-link my-2 my-sm-0">Log out</a>
                {{else}}
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
                {{/if}}
            </form>
        </div>
    </nav>
</header>