<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{appName}}{{#if title}} · {{title}}{{/if}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta name="theme-color" content="#563d7c">

    <link href="/assets/app.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    {{> main_menu }}

    {{flash_messages}}

    <div class="container mt-3">
        {{{ body }}}
    </div>

    {{> footer }}

    <script src="/assets/jquery-3.5.1.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/app.js"></script>
</body>

</html>