<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{appName}}{{#if title}} · {{title}}{{/if}}</title>

    <!-- Bootstrap core CSS -->

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/docs.min.css" rel="stylesheet">

    <meta name="theme-color" content="#563d7c">

    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/favicon/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/favicon/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="manifest" href="/favicon/manifest.json" />
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/assets/daterangepicker.css" />
    <link href="/assets/app.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    {{> main_menu }}

    {{flash_messages}}

    <div class="container mt-3">
        {{{ body }}}
    </div>

    {{> footer }}

    <script src="/assets/jquery-3.5.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/moment.min.js"></script>
    <script type="text/javascript" src="/assets/daterangepicker.min.js"></script>

    <script src="/assets/app.js"></script>
</body>

</html>