html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.main-menu {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.flash-messages {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
